[x-cloak] { display: none !important; }

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
	@apply bg-you-grey font-futura;
	@apply flex flex-col h-screen justify-between;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
}

.sticky-menu {
	@apply bg-you-grey fixed top-0 z-20 w-full;
}

.nav-menu {
	@apply container h-full lg:h-24 flex flex-wrap lg:flex-nowrap flex-row mx-auto;
	@apply justify-between items-center;
}

nav {
	@apply flex flex-col lg:flex-row items-center justify-end text-lg;
}

.nav-menu-link {
	@apply font-futura font-bold text-white uppercase mx-0.5 px-2 py-0.5;
	@apply hover:bg-primary-100 rounded-full;
	@apply mb-1 lg:mb-0 text-center w-2/3 lg:w-auto;
}

.adminav {
	@apply justify-around;
}


.adminav a,
.adminav .dropdown{
	@apply block text-sm font-futura font-normal normal-case mx-1 px-3 py-0.5;
	@apply text-gray-900 bg-gray-200 hover:bg-gray-200 rounded-full;
	@apply focus:outline-none hover:text-primary-500;
	@apply mb-0 text-left w-auto justify-items-center;
}

.drop-nav{
	@apply absolute bg-white shadow overflow-hidden rounded w-56 mt-2 py-1 right-2 z-20 border-2 border-primary-500
}

.drop-nav li {
	@apply hover:bg-primary-500;
}

.drop-link {
	@apply flex w-full justify-start items-center hover:bg-gray-200 rounded-none;
	@apply font-futura font-bold text-white uppercase mx-1 px-3 py-1;
}

.drop-span {
	@apply text-you-grey text-base text-left hover:text-primary-500;
}

.selected {
	@apply bg-primary-500 text-white rounded-full;
}

.logo {
	@apply h-16 lg:h-20 mb-2 lg:mb-0;
}

header {
	@apply bg-gradient-to-r from-you-grey to-primary-500 mt-16;
}

.header-div {
	@apply flex flex-row h-auto lg:h-64 py-4 container mx-auto justify-between items-center;
}

.header-div img {
	@apply object-cover h-96 w-96 py-4 rounded-full hidden lg:inline;
}

.header-div div {
	@apply flex-grow p-4 text-lg lg:text-xl text-white;
}

.img-slider {
	@apply mx-auto;
}

.img-slider img {
	@apply object-cover w-full;
}


.title {
	@apply bg-you-grey bg-opacity-25 container;
	@apply text-light-grey text-3xl;
	@apply font-bold;
	@apply py-4 px-8 lg:px-4 mx-auto mt-4;
}

.title-no-bg {
	@apply container;
	@apply text-3xl;
	@apply font-bold;
	@apply py-4 px-8 lg:px-4 mx-auto mt-4;
}

.box-container {
	@apply h-auto container;
	@apply px-8 lg:px-4 py-4;
	@apply mx-auto lg:mx-auto;
	@apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5;
	@apply justify-items-stretch ;
}

.box-container2 {
	@apply h-auto container;
	@apply px-8 lg:px-4 py-4;
	@apply mx-auto lg:mx-auto;
	@apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5;
	@apply justify-items-stretch ;
}

.box {
	@apply bg-light-grey;
	@apply mx-auto rounded-md py-2 px-4;
	@apply w-full h-auto lg:w-full;
	@apply flex justify-between items-center;
	@apply cursor-pointer hover:text-primary-500;
}

.box p{
	@apply text-lg lg:text-xl;
}

.box img{
	@apply h-16 lg:h-20 block
}

.button-2{
	@apply hover:bg-gray-100 px-4 bg-you-grey rounded-full w-1/4 text-center hover:text-gray-800;
}


.container-col {
	@apply container mx-auto py-10 flex flex-col justify-between items-center;
}

.quote {
	@apply italic text-base md:text-xl lg:text-2xl text-light-grey w-3/4 text-center mb-8;
}

.action-btn {
	@apply bg-primary-500 hover:bg-primary-900;
	@apply text-white text-base sm:text-xl font-bold;
	@apply py-2 px-4 rounded-lg w-80 text-center;
	@apply uppercase border-white border-2;
}

.insta {
	@apply flex flex-row justify-center lg:justify-start items-center;
}

.circle-logo {
	@apply h-10 lg:h-20 p-1 bg-you-grey rounded-full mr-3;
}

.small-gallery {
	@apply container mx-auto grid grid-cols-2 lg:grid-cols-4 gap-2 lg:gap-0;
}

.small-gallery img {
	@apply px-2 pb-2;
}

.contact {
	@apply w-full flex flex-col items-center pt-4 pb-6 justify-between mx-auto;
}

.contact  a {
	@apply text-sm lg:text-xl text-light-grey hover:text-you-grey cursor-pointer;
}
.contact  span {
	@apply text-sm lg:text-2xl text-light-grey hover:text-you-grey cursor-pointer;
}

footer {
	@apply bg-you-grey h-auto py-4 text-center py-4;
}

footer span {
	@apply text-white;
}

.circle-icon {
	@apply bg-you-grey rounded-md lg:rounded-full flex flex-col mx-0.5 lg:mx-0.5 my-0.5;
	@apply w-40 h-14 lg:w-40 lg:h-40 justify-center border-4 hover:border-primary-500;
}

.circle-icon img {
	@apply h-1/2 w-1/2 object-fill py-1 mx-auto hidden lg:block;
}

.circle-icon span {
	@apply text-light-grey break-all text-xs text-center mx-auto;
}

.team-cards {
	@apply grid grid-cols-2 lg:grid-cols-4 gap-4 container mx-auto justify-center;
}

.team-card {
	@apply rounded-3xl bg-you-grey  bg-opacity-75 opacity-0 hover:opacity-100 duration-300;
	@apply absolute inset-0 z-10 flex flex-col justify-start py-2 px-3;
}

.team-card span {
	@apply text-sm lg:text-base text-primary-500;
}

.team-card ul {
	@apply mt-2 list-inside list-disc text-xs text-white;
}

.rrss-icon {
	@apply h-10 lg:h-20 p-1 bg-you-grey rounded-full mr-3;
}

.box-white {
	@apply bg-white shadow overflow-hidden sm:rounded-lg;
}

.box-class {
	@apply px-1 sm:px-2 py-1 rounded-lg mt-1 overflow-hidden border;
}

.train-class-resume {
	@apply pl-1 py-1 md:py-2 md:grid md:grid-cols-3 grid-flow-col;
}

.train-class-resume-text {
	@apply mt-1 ml-0 md:ml-2 text-sm text-gray-900 md:mt-0 col-span-2;
}

.menu-item {
	@apply block py-1 md:py-3 pl-1 text-gray-600 no-underline hover:text-primary-100;
}

.menu:hover,
.menu:hover ul li a span {
	opacity: 1;
}

.menu-item:hover ul {
	opacity: 1;
}

.admin-box {
	@apply flex flex-col rounded-lg h-full shadow overflow-hidden border-b border-r border-gray-200;
}

.cho-container button{
	@apply bg-red-500 font-bold w-full;
}

.normal-button{
	@apply text-white w-full font-bold block my-2 text-center rounded cursor-pointer;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875em;
    padding: 0 1.7142857142857142em;
    line-height: 2.7142857142857144;
}

.avatar {
	@apply inline object-cover rounded-full;
}

/*Poll*/

.poll-container-fluid {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.poll-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.poll-mt-4 {
    margin-top: 1.5rem;
}

.poll-mb-4 {
    margin-bottom: 1.5rem!important;
}

.font-you {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.poll-body {
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: var(--bs-body-text-align);
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.poll-card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.poll-h5 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.poll-card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.poll-p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.poll-h6 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.poll-form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.poll-px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}

.poll-form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.poll-label {
    display: inline-block;
}

.poll-input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.poll-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.poll-btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.simple-button {
    @apply items-center mt-2 px-4 py-2 bg-primary-500 border border-transparent rounded-md font-semibold text-base; 
    @apply text-white uppercase tracking-widest hover:bg-primary-900  focus:outline-none;
    @apply focus:border-primary-900 focus:ring ring-primary-100 disabled:opacity-25 transition ease-in-out;
    @apply duration-150 text-center;
    /* @apply active:bg-primary-900; */
}

